<%= form_for(@new_whiskey) do |f| %>
  <%= f.label :name, "What's the whiskey Called?" %>
  <%= f.text_field :name %>
  <%= f.submit "post!" %>
<% end %>

<% @whiskeys.each do |whiskey| %>
<div class="whiskey">
<div class="whiskey-name"><strong><%= whiskey.name %>:</strong></div>



<%= image_tag whiskey.image.url(:medium) %>

</div>
<% end %>